In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
    .appName("Basic DataFrame Operations") \
    .getOrCreate()

In [3]:
data = [
    (1, "Alice", 23, "New York", 85),
    (2, "Bob", 29, "Los Angeles", 90),
    (3, "Charlie", 31, "Chicago", 78),
    (4, "David", 25, "Houston", 92),
    (5, "Eva", 28, "Phoenix", 88)
]

In [4]:
columns = ["id", "name", "age", "city", "score"]

In [5]:
df = spark.createDataFrame(data, columns)

In [6]:
print("Full DataFrame:")
df.show()

Full DataFrame:
+---+-------+---+-----------+-----+
| id|   name|age|       city|score|
+---+-------+---+-----------+-----+
|  1|  Alice| 23|   New York|   85|
|  2|    Bob| 29|Los Angeles|   90|
|  3|Charlie| 31|    Chicago|   78|
|  4|  David| 25|    Houston|   92|
|  5|    Eva| 28|    Phoenix|   88|
+---+-------+---+-----------+-----+

In [7]:
print("Schema:")
df.printSchema()

Schema:
root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)
 |-- city: string (nullable = true)
 |-- score: long (nullable = true)

In [8]:
print("Select name and score:")
df.select("name", "score").show()

Select name and score:
+-------+-----+
|   name|score|
+-------+-----+
|  Alice|   85|
|    Bob|   90|
|Charlie|   78|
|  David|   92|
|    Eva|   88|
+-------+-----+

In [9]:
print("Filter rows with score > 85:")
df.filter(df.score > 85).show()

Filter rows with score > 85:
+---+-----+---+-----------+-----+
| id| name|age|       city|score|
+---+-----+---+-----------+-----+
|  2|  Bob| 29|Los Angeles|   90|
|  4|David| 25|    Houston|   92|
|  5|  Eva| 28|    Phoenix|   88|
+---+-----+---+-----------+-----+