In [1]:
from pyspark.sql import SparkSession

In [2]:

spark = SparkSession.builder.appName("Create DataFrame").getOrCreate()

In [3]:
# Step 2: Create data (list of tuples)
data = [
    (1, "Alice", 23, "F"),
    (2, "Bob", 29, "M"),
    (3, "Cathy", 25, "F"),
    (4, "David", 35, "M"),
    (5, "Eva", 28, "F")
]

In [4]:
columns = ["ID", "Name", "Age", "Gender"]

In [5]:
df = spark.createDataFrame(data, columns)

In [6]:
print("Schema:")
df.printSchema()

Schema:
root
 |-- ID: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Age: long (nullable = true)
 |-- Gender: string (nullable = true)

In [7]:
print("\nFirst few rows:")
df.show()

First few rows:
+---+-----+---+------+
| ID| Name|Age|Gender|
+---+-----+---+------+
|  1|Alice| 23|     F|
|  2|  Bob| 29|     M|
|  3|Cathy| 25|     F|
|  4|David| 35|     M|
|  5|  Eva| 28|     F|
+---+-----+---+------+

In [8]:
print("\nColumn names:")
print(df.columns)

Column names:
['ID', 'Name', 'Age', 'Gender']

In [9]:
print("\nDescriptive statistics:")
df.describe().show()

Descriptive statistics:
+-------+------------------+-----+----------------+------+
|summary|                ID| Name|             Age|Gender|
+-------+------------------+-----+----------------+------+
|  count|                 5|    5|               5|     5|
|   mean|               3.0| NULL|            28.0|  NULL|
| stddev|1.5811388300841898| NULL|4.58257569495584|  NULL|
|    min|                 1|Alice|              23|     F|
|    max|                 5|  Eva|              35|     M|
+-------+------------------+-----+----------------+------+